* {
  box-sizing: border-box;
}

body {background-color:#000;
   background-image: url("https://ibb.org.ru/images/2025/03/05/FON.png");
   background-color:#000;
   background-position: center center;
   background-attachment: fixed;
   padding: 0;
   margin: 0;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  justify-content: end;
}

.title {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.forecast {background-image: url("https://ibb.org.ru/images/2025/03/04/NOVYI-PROEKT-7.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 280px;
  width: 400px;
  max-width: 100%;
  padding: 0 30px 30px;
  color: black;
  font-family: monospace;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin: 0 20vw;
}

.button {background-image: url("https://ibb.org.ru/images/2025/03/04/NOVYI-PROEKT-9.png");
  background-color: #12345600;
  height: 232px;
  width: 300px;
  border: none;
  transition: background 0.3s ease;
  margin: 0 20vw 5vh;
}

.button:hover {
  cursor: pointer;
}